.image-container {
    background-image: url('../assets/Background.png');
    background-size: cover;
    background-position: center;  /* Center the background image */
    background-repeat: no-repeat;
    width: 46.875rem; /* 500px / 16px = 31.25rem */
    height: 28.125rem; /* 300px / 16px = 18.75rem */
    object-fit: cover; /* stretch the image to fit the container */
    object-position: center;
    
    position: relative;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: stretch; /* stretch the image to fit the container */
  }
@font-face {
    font-family: '8bit';
    src: url('../assets/8-bit.ttf') format('truetype');
  }

  .cameraShake {
    animation: shake 0.1s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }
  
  @keyframes shake {
    10% {
      transform: translate(4px, -4px);
    }
    20% {
      transform: translate(-4px, 4px);
    }
    30% {
      transform: translate(6px, -6px);
    }
    40% {
      transform: translate(-6px, 6px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    60% {
      transform: translate(8px, -8px);
    }
    70% {
      transform: translate(-8px, 8px);
    }
    80% {
      transform: translate(10px, -10px);
    }
    90% {
      transform: translate(-10px, 10px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }