#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align to top */
  /* Adjust gap as needed */
}

.image {
  width: 46.875rem; /* Adjust image width as needed */
  height: auto; /* Maintain aspect ratio */
}

.custom-heading {
  font-family: '8bit', sans-serif;

}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: '8bit';
  src: url('./assets/8-bit.ttf') format('truetype');
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 16px;
  margin-bottom: 48px;
}

.read-the-docs {
  color: #888;
}

